*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

/* Navbar */
.navbar-brand {
  -webkit-appearance: none;
}

.nav-link {
  -webkit-appearance: none;
}
/* End Of Navbar */

/* Breadcrumb */
.breadcrumb-link {
  -webkit-appearance: none;
}
/* End Of Breadcrumb */

/* Alert for contact form */
.sent-message-successful-alert,
.sent-message-error-alert {
  display: none;
}
/* End Of Alert for contact form */

/* Jumbotron */
.jumbotron {
  border-radius: 0;
}
/* End Of Jumbotron */

/* Card Text */
.card-text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.course-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* End Of Card Text */

/* Card Image */
.card-img-top {
  height: 215px;
}
/* End Of Card Image */

/* Modal Image */
.img-fluid {
  width: 100%;
}
/* End Of Modal Image */

/*Counselling page*/
#contact-img {
  width: 100%;
  height: 100%;
}

#submit-message {
  background-color: #005fee;
  color: white;
  transition: ease-in-out 0.3s;
}
#submit-message:hover {
  background-color: orange;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.3);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
/*End of Counselling Page*/

/*Icons*/
.icons {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

.icon {
  color: white;
}

.icon:hover {
  color: orange;
  text-decoration: none;
}
/*End of Icons*/

#home-bg {
  background-image: url('../assets/img/bg-1.jpg');
  color: white;
  background-position: right;
  background-size: cover;
}

#home-bg1 {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  padding: 50px 10px;
  box-shadow: 5px 10px 15px 20px rgba(0, 0, 0, 0.5);
}

#connect {
  text-align: center;
  color: white;
  padding-top: 10px;
}

#admin-link {
  text-align: center;
  padding-bottom: 10px;
}

/* Error handler */
#universal-error-alert {
  display: none;
}
/* End Of Error handler */

/* Calendar */
#calendar {
  font-size: 12px;
}

.calendar-date {
  -webkit-appearance: none;
}

@media (max-width: 468px) {
  #calendar {
    font-size: 18px;
  }
  .display-3 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  .lead {
    font-size: 18px;
  }
}
/* End Of Calendar */

/* Footer */
.footer {
  width: 100%;
  bottom: 0;
  background-color: #003152;
}
/* End Of Footer */

/*no search result image*/
#no-results {
  width: 100%;
  display: none;
}
.disappear-on-no-search,
.disappear-on-no-search1,
.disappear-on-no-search2 {
  display: block;
}

/*show image on no blogs yet*/
#no-blogs {
  width: 100%;
  display: none;
}
#no-blogs-text {
  text-align: center;
  display: none;
}
