/* Alert for contact form */
.sent-message-successful-alert,
.sent-message-error-alert {
  display: none;
}
/* End Of Alert for contact form */

/* Footer */
.footer {
  width: 100%;
  bottom: 0;
}
/* End Of Footer */