/* Alert for contact form */
.sent-message-successful-alert,
.sent-message-error-alert {
  display: none;
}
/* End Of Alert for contact form */

/* Footer */
.footer {
  width: 100%;
  bottom: 0;
}
/* End Of Footer */

/* Jumbotron */
.jumbotron {
  border-radius: 0;
}
/* End Of Jumbotron */

/* Card Text */
.card-text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
/* End Of Card Text */

/* Card Image */
.card-img-top {
  height: 215px;
}
/* End Of Card Image */

/* Modal Image */
.img-fluid {
  width: 100%;
}
/* End Of Modal Image */

#contact-img {
  width: 100%;
  height: 100%;
}

#submit-message {
  background-color: #005fee;
  color: white;
  transition: ease-in-out 0.3s;
}
#submit-message:hover {
  background-color: orange;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.3);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
#bullet {
  width: 10px;
  height: 10px;
}
#questions {
  width: 300px;
  height: 225px;
}

#img-container {
  text-align: center;
}

.question-list {
  padding: 3rem;
  text-align: center;
}

.question,
.text {
  font-size: 1.35em;
}

.counselling {
  background-image: url('../assets/img/bg.png');
  background-size: cover;
}

.icons {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.icon {
  color: white;
}

.icon:hover {
  color: orange;
}
