/* Global styles */
@font-face {
  font-family: OpenSans;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
  font-family: OpenSans, sans-serif;
  background: #eee;
  overflow-x: hidden;
}
/* End Of Global styles */

/* Navbar */
.navbar-brand {
  font-family: monospace;
  font-size: 22px;
}

.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('../assets/img/sidebar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.button-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all 0.4s;
  font-size: 14px;
  font-weight: 500;
}

.sidebar-link:hover {
  background-color: #444;
}

.current {
  background-color: #14d3c9;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.3s;
}

.current:hover {
  background-color: #1baabd;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
    margin: 0;
  }
  .sidebar {
    position: static;
    height: auto;
    width: 100vw;
  }
  .top-navbar {
    position: static;
  }
}
/* End Of Navbar */

/* Settings */
.change-password,
#error-message {
  display: none;
}
/* End Of Settings */

/*Media Queries for main content*/
@media screen and (min-width: 900px){
  .row-parent{
    margin:3rem;
    padding:2rem;
  }
}

@media screen and (min-width: 780px){
  .row-parent{
    margin-left:6rem;
    padding:3.5rem;
  }
}
/*End of Media Queries for main content*/

.row-parent{
  font-size: 20px;
}

h1,label{
  font-family: 'Archivo Narrow', sans-serif;
}

/*inputs*/
input,textarea{
  transition:0.3s ease-in-out ;
}
input:hover{
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

textarea:hover{
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}
input[type=url]{
width:100%;
border:rgb(207, 207, 207) solid 1.5px;
padding: 5px;
border-radius: 3px;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
/*End of inputs*/

/*submit button*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
  
.button {
  width: 140px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  
  .button:hover {
    background-color: #14d3c9;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button:active{
    outline: 0;
  }

  .button:focus{
    outline: none;
  }
  /*End of submit button*/

  /*success modal*/
  .modal-confirm {		
		color: #636363;
		width: 325px;
		margin: 30px auto;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
    font-size: 13px;
    
	}	
	.modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #14d3a3;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #14d3a3;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #13bb91;
		outline: none;
	}
  /*End of success modal*/

    /*delete modal*/
    .modal-confirm1 {		
      color: #636363;
      width: 400px;
    }
    .modal-confirm1 .modal-content1 {
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
    }
    .modal-confirm1 .modal-header {
      border-bottom: none;   
      position: relative;
    }
    .modal-confirm1 h4 {
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
    }
    .modal-confirm1 .close {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .close:focus{
      outline:none;
    }
    .modal-confirm1 .modal-body {
      color: #999;
    }
    .modal-confirm1 .modal-footer {
      border: none;
      text-align: center;		
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 15px 25px;
    }
    .modal-confirm1 .modal-footer a {
      color: #999;
    }		
    .modal-confirm1 .icon-box1 {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 9;
      text-align: center;
      border: 3px solid #f15e5e;
    }
    .modal-confirm1 .icon-box1 i {
      color: #f15e5e;
      font-size: 46px;
      display: inline-block;
      margin-top: 13px;
    }
    .modal-confirm1 .btn, .modal-confirm .btn:active {
      color: #fff;
      border-radius: 4px;
      background: #60c7c1;
      text-decoration: none;
      transition: all 0.4s;
      line-height: normal;
      min-width: 120px;
      border: none;
      min-height: 40px;
      border-radius: 3px;
      margin: 0 5px;
    }
    .modal-confirm1 .btn-secondary {
      background: #c1c1c1;
    }
    .modal-confirm1 .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
      background: #a8a8a8;
    }
    .modal-confirm1 .btn-danger {
      background: #f15e5e;
    }
    .modal-confirm1 .btn-danger:hover, .modal-confirm .btn-danger:focus {
      background: #ee3535;
    }
    /*End of delete modal*/

/* Footer */
.footer {
  bottom: 0;
}
/* End Of Footer */
